.order-information-title{
    background-color: #808080;
    color: white;
    padding: 5px;
    font-size: 12pt;
}
.bold-text{
    font-weight: bold;
}
.order-information-elements{
    display: inline-flex;
    padding: 0 2%;
}
.order-information-container{
    margin: 1%;
    font-size: 9pt;
}
.left-block{
    width: 220px;
}
.order-information-line{
    padding: 5px 0;
}
.render-lines{
    display: inline-grid;
    width: 100%;
}
.render-table{
    margin: 2% 0;
}
.first-line span{
    margin: 0 0.5px;
    padding: 5px;
    background-color: #808080;
    color: white;
}
.first-line{
    margin-top: 1%;
    display: inline-flex;
    width: 100%;
    text-align: center;
}
.order-information-table-line-normal, .order-information-table-line-special{
    display: inline-flex;
    width: 100%;
    margin: 1px 0;
}
.order-information-table-line span{
    margin: 0 0.5px;
    padding: 5px;
}
.order-information-table-line span span{
    margin: 0;
    padding: 0;
}
.col-1{
    width: 10%;
}
.col-2{
    width: 15%;
}
.col-3{
    width: 60%;
    text-align: left;
}
.col-4{
    width: 15%;
    text-align: right;
}
.col-5{
    width: 5%;
    text-align: center;
}
.col-6{
    width: 5%;
}
.order-information-table-total{
    text-align: right;
}
.grey-background span{
    background-color: #e5e5e5;
}
.lightgrey-background span{
    background-color: #f2f2f2;
}
.order-information-table-description-line{
    margin-top: 15px;
}
.order-information-table-line{
    display: block;
}
.render-table-bottom{
    margin-top: 1%;
    display: inline-flex;
    width: 100%;
}
.render-table-bottom>div{
    width: 50%;
}
.render-table-info{
    border: 1px black solid;
    width: 50%;
    border-right: none;
    padding: 3px;
    text-align: justify;
}
.render-table-total{
    right: 1%;
}
.render-table-total div{
     border-color: black;
     border-style: solid;
     border-width: 0 1px 1px ;
}
.render-table-total div:first-child{
    border-top: 1px black solid;
}
.render-bottom-table-float-right{
    float: right;
}
.render-bottom-table-line{
    padding: 4px;
    font-weight: bold;
}
.order-information-table-number{
    text-align: center;
}
.info-icon{
    width: 20px;
    vertical-align: middle;
    padding-left: 6px;
}
.tooltip {
    position: relative;
    width: 100%;
}
.tooltip .tooltipText{
    visibility: hidden;
    width: 140px;
    background-color: #ffffda;
    color: black;
    text-align: right;
    border: 1px black solid;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 100%;
    opacity: 0;
    display: inline-flex;
}
.tooltip .tooltipTextSymbol{
    font-size: 8pt;
    visibility: hidden;
    width: auto;
    height: auto;
    background-color: #ffffda;
    color: black;
    text-align: left;
    border: 1px black solid;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 125%;
    opacity: 0;
    display: inline-flex;
    white-space: nowrap;
}
.tooltip:hover .tooltipText, .tooltip:hover .tooltipTextSymbol{
    visibility: visible;
    opacity: 1;
}
.tooltip-left{
    width: 80px;
}
.tooltip-right{
    width: 50px;
    right:0;
    position: relative;
}
.order-information-table-special-description{
    text-decoration: black underline;
}
.symbols{
    cursor: pointer;
}