.order-information-title{
    background-color: #808080;
    color: white;
    padding: 5px;
    font-size: 12pt;
}
.bold-text{
    font-weight: bold;
}
.order-information-elements{
    display: inline-flex;
    width: 100%;
    padding: 0 2%;
}
#order-information-container{
    margin: 1%;
    font-size: 9pt;
}
.left-block{
    width: 220px;
}
.order-information-line{
    padding: 5px 0;
}
#render-lines{
    display: inline-grid;
    width: 100%;
}
#render-table{
    margin: 2% 0;
}
.first-line span{
    margin: 0 0.5px;
    padding: 5px;
    background-color: #808080;
    color: white;
}
.first-line{
    margin: 1% 0;
    display: inline-flex;
    width: 100%;
    text-align: center;
}
.order-information-table-line{
    display: inline-flex;
    width: 100%;
}
.order-information-table-line span{
    margin: 0 0.5px;
    padding: 5px;
}
.col-1{
    width: 10%;
}
.col-2{
    width: 15%;
}
.col-3{
    width: 60%;
    text-align: left;
}
.col-4{
    width: 15%;
    text-align: right;
}
.col-5{
    width: 5%;
}
.col-6{
    width: 5%;
}
.grey-background span{
    background-color: #e5e5e5;
}
.lightgrey-background span{
    color: #f2f2f2;
}